In [1]:
import pymongo
conn=pymongo.MongoClient("mongodb://localhost:27017/")
db=conn['college']
col=db['studentlist']

In [19]:

values = [
    {"Fname": "john", "Lname": "Williom", "Mark": 23, "Grade": "A", "Contact": 2548751365, "Gender": "Male", "Dept": "MCA", "District": "Trivandrum", "Course": "Computer Application"},
    {"Fname": "Alice", "Lname": "Thomas", "Mark": 81, "Grade": "A", "Contact": 9876543210, "Gender": "Female", "Dept": "MBA", "District": "Kollam", "Course": "Business Administration"},
    {"Fname": "Bob", "Lname": "Mathew", "Mark": 67, "Grade": "B", "Contact": 9123456789, "Gender": "Male", "Dept": "MCA", "District": "Ernakulam", "Course": "Computer Application"},
    {"Fname": "Clara", "Lname": "George", "Mark": 73, "Grade": "B", "Contact": 8547123654, "Gender": "Female", "Dept": "MSc", "District": "Kottayam", "Course": "Mathematics"},
    {"Fname": "David", "Lname": "Joseph", "Mark": 58, "Grade": "C", "Contact": 9845612378, "Gender": "Male", "Dept": "MCom", "District": "Thrissur", "Course": "Commerce"},
    {"Fname": "Emma", "Lname": "Jacob", "Mark": 90, "Grade": "A", "Contact": 9745613289, "Gender": "Female", "Dept": "MCA", "District": "Alappuzha", "Course": "Computer Application"},
    {"Fname": "Frank", "Lname": "Eapen", "Mark": 48, "Grade": "D", "Contact": 9645123874, "Gender": "Male", "Dept": "MBA", "District": "Pathanamthitta", "Course": "Business Administration"},
    {"Fname": "Grace", "Lname": "Cherian", "Mark": 75, "Grade": "B", "Contact": 8541239671, "Gender": "Female", "Dept": "MCA", "District": "Idukki", "Course": "Computer Application"},
    {"Fname": "Henry", "Lname": "Koshy", "Mark": 35, "Grade": "D", "Contact": 9987123654, "Gender": "Male", "Dept": "MSc", "District": "Palakkad", "Course": "Physics"},
    {"Fname": "Isla", "Lname": "Antony", "Mark": 89, "Grade": "A", "Contact": 9871123984, "Gender": "Female", "Dept": "MCA", "District": "Kannur", "Course": "Computer Application"},
    {"Fname": "Jack", "Lname": "Paul", "Mark": 62, "Grade": "B", "Contact": 9312312354, "Gender": "Male", "Dept": "MSc", "District": "Kasargod", "Course": "Statistics"},
    {"Fname": "Karen", "Lname": "Philip", "Mark": 47, "Grade": "C", "Contact": 9512369841, "Gender": "Female", "Dept": "MCom", "District": "Malappuram", "Course": "Commerce"},
    {"Fname": "Leo", "Lname": "Benny", "Mark": 79, "Grade": "B", "Contact": 9612375412, "Gender": "Male", "Dept": "MBA", "District": "Wayanad", "Course": "Business Administration"},
    {"Fname": "Mia", "Lname": "Manu", "Mark": 94, "Grade": "A", "Contact": 9447125632, "Gender": "Female", "Dept": "MCA", "District": "Kozhikode", "Course": "Computer Application"},
    {"Fname": "Nate", "Lname": "Jude", "Mark": 38, "Grade": "D", "Contact": 9074123564, "Gender": "Male", "Dept": "MCom", "District": "Trivandrum", "Course": "Commerce"},
    {"Fname": "Olivia", "Lname": "Noel", "Mark": 85, "Grade": "A", "Contact": 9945612345, "Gender": "Female", "Dept": "MBA", "District": "Kollam", "Course": "Business Administration"},
    {"Fname": "Paul", "Lname": "Basil", "Mark": 52, "Grade": "C", "Contact": 9845987456, "Gender": "Male", "Dept": "MSc", "District": "Ernakulam", "Course": "Mathematics"},
    {"Fname": "Quinn", "Lname": "Roy", "Mark": 88, "Grade": "A", "Contact": 9745612387, "Gender": "Female", "Dept": "MCA", "District": "Kottayam", "Course": "Computer Application"},
    {"Fname": "Rachel", "Lname": "George", "Mark": 67, "Grade": "B", "Contact": 9475612385, "Gender": "Female", "Dept": "MSc", "District": "Thrissur", "Course": "Statistics"},
    {"Fname": "Sam", "Lname": "Shaji", "Mark": 49, "Grade": "C", "Contact": 9845982345, "Gender": "Male", "Dept": "MBA", "District": "Alappuzha", "Course": "Business Administration"},
    {"Fname": "Tina", "Lname": "David", "Mark": 74, "Grade": "B", "Contact": 9987123890, "Gender": "Female", "Dept": "MCom", "District": "Pathanamthitta", "Course": "Commerce"},
    {"Fname": "Umar", "Lname": "Ismail", "Mark": 59, "Grade": "C", "Contact": 9945612371, "Gender": "Male", "Dept": "MCA", "District": "Idukki", "Course": "Computer Application"},
    {"Fname": "Victoria", "Lname": "Susan", "Mark": 92, "Grade": "A", "Contact": 9845123458, "Gender": "Female", "Dept": "MBA", "District": "Palakkad", "Course": "Business Administration"},
    {"Fname": "Will", "Lname": "Joel", "Mark": 37, "Grade": "D", "Contact": 9447123965, "Gender": "Male", "Dept": "MCom", "District": "Kannur", "Course": "Commerce"},
    {"Fname": "Xena", "Lname": "Ann", "Mark": 81, "Grade": "A", "Contact": 9987412365, "Gender": "Female", "Dept": "MCA", "District": "Kasargod", "Course": "Computer Application"},
    {"Fname": "Yusuf", "Lname": "Arif", "Mark": 69, "Grade": "B", "Contact": 9756123890, "Gender": "Male", "Dept": "MSc", "District": "Malappuram", "Course": "Physics"},
    {"Fname": "Zoe", "Lname": "Mary", "Mark": 77, "Grade": "B", "Contact": 9447896321, "Gender": "Female", "Dept": "MCA", "District": "Wayanad", "Course": "Computer Application"},
    {"Fname": "Anil", "Lname": "Kumar", "Mark": 61, "Grade": "C", "Contact": 9182375461, "Gender": "Male", "Dept": "MBA", "District": "Kozhikode", "Course": "Business Administration"},
    {"Fname": "Beena", "Lname": "Menon", "Mark": 90, "Grade": "A", "Contact": 9874512365, "Gender": "Female", "Dept": "MCA", "District": "Trivandrum", "Course": "Computer Application"},
    {"Fname": "Chris", "Lname": "Babu", "Mark": 46, "Grade": "C", "Contact": 9012458745, "Gender": "Male", "Dept": "MSc", "District": "Kollam", "Course": "Statistics"}
]

In [ ]:
# col.insert_many(values)

InsertManyResult([ObjectId('682b339db4aee26897834aaa'), ObjectId('682b339db4aee26897834aab'), ObjectId('682b339db4aee26897834aac'), ObjectId('682b339db4aee26897834aad'), ObjectId('682b339db4aee26897834aae'), ObjectId('682b339db4aee26897834aaf'), ObjectId('682b339db4aee26897834ab0'), ObjectId('682b339db4aee26897834ab1'), ObjectId('682b339db4aee26897834ab2'), ObjectId('682b339db4aee26897834ab3'), ObjectId('682b339db4aee26897834ab4'), ObjectId('682b339db4aee26897834ab5'), ObjectId('682b339db4aee26897834ab6'), ObjectId('682b339db4aee26897834ab7'), ObjectId('682b339db4aee26897834ab8'), ObjectId('682b339db4aee26897834ab9'), ObjectId('682b339db4aee26897834aba'), ObjectId('682b339db4aee26897834abb'), ObjectId('682b339db4aee26897834abc'), ObjectId('682b339db4aee26897834abd'), ObjectId('682b339db4aee26897834abe'), ObjectId('682b339db4aee26897834abf'), ObjectId('682b339db4aee26897834ac0'), ObjectId('682b339db4aee26897834ac1'), ObjectId('682b339db4aee26897834ac2'), ObjectId('682b339db4aee26897834ac3'), ObjectId('682b339db4aee26897834ac4'), ObjectId('682b339db4aee26897834ac5'), ObjectId('682b339db4aee26897834ac6'), ObjectId('682b339db4aee26897834ac7')], acknowledged=True)

In [24]:
var=col.find({"Dept":"MCA"},{"Mark":1,"Fname":1,"Lname":1,"_id":0})
for i in var:
    print(i)

{'Fname': 'john', 'Lname': 'Williom', 'Mark': 23}
{'Fname': 'Bob', 'Lname': 'Mathew', 'Mark': 67}
{'Fname': 'Emma', 'Lname': 'Jacob', 'Mark': 90}
{'Fname': 'Grace', 'Lname': 'Cherian', 'Mark': 75}
{'Fname': 'Isla', 'Lname': 'Antony', 'Mark': 89}
{'Fname': 'Mia', 'Lname': 'Manu', 'Mark': 94}
{'Fname': 'Quinn', 'Lname': 'Roy', 'Mark': 88}
{'Fname': 'Umar', 'Lname': 'Ismail', 'Mark': 59}
{'Fname': 'Xena', 'Lname': 'Ann', 'Mark': 81}
{'Fname': 'Zoe', 'Lname': 'Mary', 'Mark': 77}
{'Fname': 'Beena', 'Lname': 'Menon', 'Mark': 90}

In [25]:
var=col.find({"Gender":"Female"},{"Mark":1,"Fname":1,"Lname":1,"_id":0,"Dept":1})
for i in var:
    print(i)

{'Fname': 'Alice', 'Lname': 'Thomas', 'Mark': 81, 'Dept': 'MBA'}
{'Fname': 'Clara', 'Lname': 'George', 'Mark': 73, 'Dept': 'MSc'}
{'Fname': 'Emma', 'Lname': 'Jacob', 'Mark': 90, 'Dept': 'MCA'}
{'Fname': 'Grace', 'Lname': 'Cherian', 'Mark': 75, 'Dept': 'MCA'}
{'Fname': 'Isla', 'Lname': 'Antony', 'Mark': 89, 'Dept': 'MCA'}
{'Fname': 'Karen', 'Lname': 'Philip', 'Mark': 47, 'Dept': 'MCom'}
{'Fname': 'Mia', 'Lname': 'Manu', 'Mark': 94, 'Dept': 'MCA'}
{'Fname': 'Olivia', 'Lname': 'Noel', 'Mark': 85, 'Dept': 'MBA'}
{'Fname': 'Quinn', 'Lname': 'Roy', 'Mark': 88, 'Dept': 'MCA'}
{'Fname': 'Rachel', 'Lname': 'George', 'Mark': 67, 'Dept': 'MSc'}
{'Fname': 'Tina', 'Lname': 'David', 'Mark': 74, 'Dept': 'MCom'}
{'Fname': 'Victoria', 'Lname': 'Susan', 'Mark': 92, 'Dept': 'MBA'}
{'Fname': 'Xena', 'Lname': 'Ann', 'Mark': 81, 'Dept': 'MCA'}
{'Fname': 'Zoe', 'Lname': 'Mary', 'Mark': 77, 'Dept': 'MCA'}
{'Fname': 'Beena', 'Lname': 'Menon', 'Mark': 90, 'Dept': 'MCA'}

In [26]:
var=col.find({"$and":[{"Gender":"Female"},{"Dept":"MCA"}]},{"Mark":1,"Lname":1,"Fname":1,"Contact":1,"_id":0})
for i in var:
    print(i)

{'Fname': 'Emma', 'Lname': 'Jacob', 'Mark': 90, 'Contact': 9745613289}
{'Fname': 'Grace', 'Lname': 'Cherian', 'Mark': 75, 'Contact': 8541239671}
{'Fname': 'Isla', 'Lname': 'Antony', 'Mark': 89, 'Contact': 9871123984}
{'Fname': 'Mia', 'Lname': 'Manu', 'Mark': 94, 'Contact': 9447125632}
{'Fname': 'Quinn', 'Lname': 'Roy', 'Mark': 88, 'Contact': 9745612387}
{'Fname': 'Xena', 'Lname': 'Ann', 'Mark': 81, 'Contact': 9987412365}
{'Fname': 'Zoe', 'Lname': 'Mary', 'Mark': 77, 'Contact': 9447896321}
{'Fname': 'Beena', 'Lname': 'Menon', 'Mark': 90, 'Contact': 9874512365}

In [30]:
var=col.find({"Dept":"MCA"},{"Lname":1,"Fname":1,"Dept":1,"Mark":1,"_id":0}).sort({"Mark":-1}).limit(2)
for i in var:
    print(i)

{'Fname': 'Mia', 'Lname': 'Manu', 'Mark': 94, 'Dept': 'MCA'}
{'Fname': 'Emma', 'Lname': 'Jacob', 'Mark': 90, 'Dept': 'MCA'}

In [31]:
var=col.find({"Dept":"MCA"},{"Lname":1,"Fname":1,"Dept":1,"Mark":1,"_id":0}).sort({"Mark":1}).limit(2)
for i in var:
    print(i)

{'Fname': 'john', 'Lname': 'Williom', 'Mark': 23, 'Dept': 'MCA'}
{'Fname': 'Umar', 'Lname': 'Ismail', 'Mark': 59, 'Dept': 'MCA'}

In [33]:
var=col.find({"Gender":"Male"},{"Fname":1,"Lname":1,"Mark":1,"Dept":1,"_id":0}).sort({"Mark":-1}).limit(3)
for i in var:
    print(i)

{'Fname': 'Leo', 'Lname': 'Benny', 'Mark': 79, 'Dept': 'MBA'}
{'Fname': 'Yusuf', 'Lname': 'Arif', 'Mark': 69, 'Dept': 'MSc'}
{'Fname': 'Bob', 'Lname': 'Mathew', 'Mark': 67, 'Dept': 'MCA'}

In [35]:
var=col.find({"$and":[{"Gender":"Male"},{"Grade":"A"}]},{"Fname":1,"Lname":1,"Gender":1,"Grade":1,"_id":0})
for i in var:
    print(i)

{'Fname': 'john', 'Lname': 'Williom', 'Grade': 'A', 'Gender': 'Male'}

In [37]:
var=col.find({"Dept":"MBA"},{"Fname":1,"Lname":1,"Mark":1,"_id":0}).sort({"Mark":-1}).limit(5)
for i in var:
    print(i)

{'Fname': 'Victoria', 'Lname': 'Susan', 'Mark': 92}
{'Fname': 'Olivia', 'Lname': 'Noel', 'Mark': 85}
{'Fname': 'Alice', 'Lname': 'Thomas', 'Mark': 81}
{'Fname': 'Leo', 'Lname': 'Benny', 'Mark': 79}
{'Fname': 'Anil', 'Lname': 'Kumar', 'Mark': 61}

In [38]:
var=col.find({"$and":[{"Gender":"Female"},{"Mark":{"$gt":90}}]},{"Fname":1,"Lname":1,"Mark":1,"Gender":1,"_id":0})
for i in var:
    print(i)

{'Fname': 'Mia', 'Lname': 'Manu', 'Mark': 94, 'Gender': 'Female'}
{'Fname': 'Victoria', 'Lname': 'Susan', 'Mark': 92, 'Gender': 'Female'}

In [40]:
var=col.find({"Mark":{"$gt":80,"$lt":90}},{"Fname":1,"Lname":1,"Mark":1,"Grade":1,"_id":0})
for i in var:
    print(i)

{'Fname': 'Alice', 'Lname': 'Thomas', 'Mark': 81, 'Grade': 'A'}
{'Fname': 'Isla', 'Lname': 'Antony', 'Mark': 89, 'Grade': 'A'}
{'Fname': 'Olivia', 'Lname': 'Noel', 'Mark': 85, 'Grade': 'A'}
{'Fname': 'Quinn', 'Lname': 'Roy', 'Mark': 88, 'Grade': 'A'}
{'Fname': 'Xena', 'Lname': 'Ann', 'Mark': 81, 'Grade': 'A'}

In [6]:
var=col.find({"Fname":{"$regex":"A"}},{"Fname":1,"Lname":1,"_id":0})
for i in var:
    print(i)

{'Fname': 'Alice', 'Lname': 'Thomas'}
{'Fname': 'Anil', 'Lname': 'Kumar'}

In [ ]:
var=col.find({"District":{"$nin":["Kollam","Trivandrum"]}},{"_id":0}).limit(4)
for i in var:
    print(i)

{'Fname': 'Bob', 'Lname': 'Mathew', 'Mark': 67, 'Grade': 'B', 'Contact': 9123456789, 'Gender': 'Male', 'Dept': 'MCA', 'District': 'Ernakulam', 'Course': 'Computer Application'}
{'Fname': 'Clara', 'Lname': 'George', 'Mark': 73, 'Grade': 'B', 'Contact': 8547123654, 'Gender': 'Female', 'Dept': 'MSc', 'District': 'Kottayam', 'Course': 'Mathematics'}
{'Fname': 'David', 'Lname': 'Joseph', 'Mark': 58, 'Grade': 'C', 'Contact': 9845612378, 'Gender': 'Male', 'Dept': 'MCom', 'District': 'Thrissur', 'Course': 'Commerce'}
{'Fname': 'Emma', 'Lname': 'Jacob', 'Mark': 90, 'Grade': 'A', 'Contact': 9745613289, 'Gender': 'Female', 'Dept': 'MCA', 'District': 'Alappuzha', 'Course': 'Computer Application'}

MAKES CASE INSENSITIVE AND DISPLAYS FIRST NAME STARTING WITH 'a' OR 'A'

In [9]:
var=col.find({"Fname":{"$regex": "^a", "$options": "i"}},{"Fname":1,"Lname":1,"_id":0})
for i in var:
    print(i)

{'Fname': 'Alice', 'Lname': 'Thomas'}
{'Fname': 'Anil', 'Lname': 'Kumar'}

MAKES CASE INSENSITIVE AND DISPLAYS THE NAME WITH APLHABET 'a' or 'A' IN IT

In [10]:
var=col.find({"Fname":{"$regex": "a", "$options": "i"}},{"Fname":1,"Lname":1,"_id":0})
for i in var:
    print(i)

{'Fname': 'Alice', 'Lname': 'Thomas'}
{'Fname': 'Clara', 'Lname': 'George'}
{'Fname': 'David', 'Lname': 'Joseph'}
{'Fname': 'Emma', 'Lname': 'Jacob'}
{'Fname': 'Frank', 'Lname': 'Eapen'}
{'Fname': 'Grace', 'Lname': 'Cherian'}
{'Fname': 'Isla', 'Lname': 'Antony'}
{'Fname': 'Jack', 'Lname': 'Paul'}
{'Fname': 'Karen', 'Lname': 'Philip'}
{'Fname': 'Mia', 'Lname': 'Manu'}
{'Fname': 'Nate', 'Lname': 'Jude'}
{'Fname': 'Olivia', 'Lname': 'Noel'}
{'Fname': 'Paul', 'Lname': 'Basil'}
{'Fname': 'Rachel', 'Lname': 'George'}
{'Fname': 'Sam', 'Lname': 'Shaji'}
{'Fname': 'Tina', 'Lname': 'David'}
{'Fname': 'Umar', 'Lname': 'Ismail'}
{'Fname': 'Victoria', 'Lname': 'Susan'}
{'Fname': 'Xena', 'Lname': 'Ann'}
{'Fname': 'Anil', 'Lname': 'Kumar'}
{'Fname': 'Beena', 'Lname': 'Menon'}

MAKES CASE INSENSITIVE AND DISPLAYS THE NAME WITH APLHABET 'a' or 'A' IN IT AS LAST LETTER

In [12]:
var=col.find({"Fname":{"$regex": "a$", "$options": "i"}},{"Fname":1,"Lname":1,"_id":0})
for i in var:
    print(i)

{'Fname': 'Clara', 'Lname': 'George'}
{'Fname': 'Emma', 'Lname': 'Jacob'}
{'Fname': 'Isla', 'Lname': 'Antony'}
{'Fname': 'Mia', 'Lname': 'Manu'}
{'Fname': 'Olivia', 'Lname': 'Noel'}
{'Fname': 'Tina', 'Lname': 'David'}
{'Fname': 'Victoria', 'Lname': 'Susan'}
{'Fname': 'Xena', 'Lname': 'Ann'}
{'Fname': 'Beena', 'Lname': 'Menon'}