Program to implement list to series conversion

In [1]:
import pandas as pd 
list=[10,20,30,40,50]
series=pd.Series(list)
print("List to Series Conversion :")
print(series)

List to Series Conversion :
0    10
1    20
2    30
3    40
4    50
dtype: int64

Series of dates

In [3]:
date=pd.date_range(start="2021-05-01",end="2021-05-12")
print("Series of dates :")
print(date)

Series of dates :
DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

Dictionary to dataframe

In [4]:
data={
    "Name":["John","Charles","Christ"],
    "Age":[25,30,28],
    "City":["New York","California","New Jersey"]
}
df=pd.DataFrame(data)
print("Dictionary to dataframe :")
print(df)

Dictionary to dataframe :
      Name  Age        City
0     John   25    New York
1  Charles   30  California
2   Christ   28  New Jersey

2D list to dataframe

In [5]:
data=[
    [1,"Charles",40000],
    [2,"Christ",60000],
    [3,"Anna",90000]
]
df=pd.DataFrame(data,columns=["ID","Name","Salary"])
print("2D list to dataframe")
print(df)

2D list to dataframe
   ID     Name  Salary
0   1  Charles   40000
1   2   Christ   60000
2   3     Anna   90000

Read csv file into dataframe

In [8]:
csv='ex4.5.csv'
df=pd.read_csv(csv)
print(df)

   ID   Name  Age      City
0   1   Alex   25  New York
1   2  Brian   30     Hawai
2   3  Celex   28     Paris
3   4  Diana   22   Beijing

Data frame sorting by multiple columns

In [10]:
data={
    "Name":["Alex","Brian","Cela","Diana"],
    "Age":[25,30,25,32],
    "Salary":[50000,60000,30000,45000]
}
df=pd.DataFrame(data)
print("Before Sorting")
print(df)
sort=df.sort_values(by=["Age","Salary"])
print("After Sorting by Age,then Salary:")
print(sort)

Before Sorting
    Name  Age  Salary
0   Alex   25   50000
1  Brian   30   60000
2   Cela   25   30000
3  Diana   32   45000
After Sorting by Age,then Salary:
    Name  Age  Salary
2   Cela   25   30000
0   Alex   25   50000
1  Brian   30   60000
3  Diana   32   45000

Convert custom indexing to default indexing

In [12]:
data={"Name":["Alex","Brian","Charlie"],"Age":[25,23,27]}
df=pd.DataFrame(data,index=["a","b","c"])
print("Custom Indexing :")
print(df)
dfreset=df.reset_index(drop=True)
print("Default Indexing :")
print(dfreset)

Custom Indexing :
      Name  Age
a     Alex   25
b    Brian   23
c  Charlie   27
Default Indexing :
      Name  Age
0     Alex   25
1    Brian   23
2  Charlie   27

Select 2 rows of dataframe

In [13]:
data={
    "Name":["Alice","Bob","Charlie"],
    "Age":[23,26,31]
}
df=pd.DataFrame(data)
print("First 2 Rows :")
print(df.head(2))

First 2 Rows :
    Name  Age
0  Alice   23
1    Bob   26

Average salary per occupation

In [14]:
data={
    "Name":["Alice","Bob","Charlie","David"],
    "Occupation":["Engineer","Doctor","Radiologist","Engineer"],
    "Salary":[50000,100000,70000,45000]
}
df=pd.DataFrame(data)
avg=df.groupby("Occupation")["Salary"].mean()
print("Average salary per occupation")
print(avg)

Average salary per occupation
Occupation
Doctor         100000.0
Engineer        47500.0
Radiologist     70000.0
Name: Salary, dtype: float64

Fill NaN values with 0

In [15]:
import numpy as np
data={"A":[1,np.nan,3],
      "B":[4,5,np.nan]
      }
df=pd.DataFrame(data)
print("Before filling NaN :")
print(df)
dffill=df.fillna(0)
print("After filling NaN with 0 :")
print(dffill)

Before filling NaN :
     A    B
0  1.0  4.0
1  NaN  5.0
2  3.0  NaN
After filling NaN with 0 :
     A    B
0  1.0  4.0
1  0.0  5.0
2  3.0  0.0

Profit>0 :True , else False

In [16]:
data={"cname":["Company1","Company2","Company3"],
      "profit":[1000,-500,0]
      }
df=pd.DataFrame(data)
df["profit"]=df["profit"]>0
print("Profit column converted to boolean :")
print(df)

Profit column converted to boolean :
      cname  profit
0  Company1    True
1  Company2   False
2  Company3   False

Merge 2 data frames

In [17]:
df1=pd.DataFrame({
    "eid":[1,2,3],
    "ename":["Alex","Brian","Cindy"],
    "stipend":[1000,1500,1200]
})
df2=pd.DataFrame({
    "eid":[1,2,3],
    "designation":["Intern","Trainee","Intern"]
})
merge=pd.merge(df1,df2,on="eid")
print("Merged DataFrame :")
print(merge)

Merged DataFrame :
   eid  ename  stipend designation
0    1   Alex     1000      Intern
1    2  Brian     1500     Trainee
2    3  Cindy     1200      Intern